#welcome {
    height: 400px;
    background-image: url("/resources/images/prep.jpg");
}

#intro {
    text-align: center;
    vertical-align: middle;
    font-family: 'Lobster', sans-serif;
    font-size: 32px;
    text-shadow: 2px 4px 10px #000;
}