@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Rambla);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    background: linear-gradient(to right, #212224 , #3b2312, #212224);
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 80px;
    color: azure;
}

h2{
    font-size: 40px;
    color: azure;
}

p {
    font-family: 'Poiret One', sans-serif;
    font-size: 14px;
    color: azure;
}

#header {
    margin-left: 0px;
    margin-right: 0px;
}

#welcome {
    height: 400px;
    background-image: url("/resources/images/welcomeImage.jpg");
    margin-left: 0px;
    margin-right: 0px;
    border-color: #3b3a3c;
}

#welcometxt {
    padding-top: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Lobster', sans-serif;
    font-size: 124px;
    text-shadow: 2px 8px 10px #000;
}

#content{
    margin-top: 10px;
    border-radius: 10px;
    background: #3b3a3c;
    padding: 20px;
    max-width: 1100px;
}

.breadcrumb {
    background-color: #3b3a3c;
    margin-bottom: 0px;
    max-width: 800px;
}

.breadcrumb li {
    font-size: 26px;
    border-radius: 15px 50px 30px;
}
.breadcrumb a {color: rgba(255, 255, 255, 1);}
.breadcrumb a:hover {color: rgba(122, 122, 122, 1);}
.breadcrumb>.active {color: rgba(199, 106, 30, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1);}

/* Styles for each generated recipe. */
#recipe {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(/resources/images/border.png) 20 stretch;
    margin-bottom: 25px;
    background-color: transparent;
}

#dcreator {
    border-right: 2px outset;
    font-size: 12px;
    padding-left: 10px;
}

#ddesc {
    border-right: 2px outset;;
}

#dviews {
    padding-left: 15px;
    padding-right: 0px;
}

#dtarea{
    padding-left: 5px;
    padding-right: 5px;
}

#dtype {
    border-right: 2px outset;
    padding-left: 0px;
}

/* Styles for Data */
#rname {
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
    color: azure;
    text-shadow: 2px 8px 10px #000;
    border-bottom: 1px outset;
}

#ring {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 10px;
    color: black;
}

#rcreator {
    font-family: 'Poiret One', sans-serif;
    font-size: 13px;
    color: azure;

}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}

