@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #a6a6a6;
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 80px;
    color: azure;
}

h2{
    font-size: 40px;
    color: azure;
}

p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    color: azure;
}

#welcome {
    height: 400px;
    background-image: url("/resources/images/welcomeImage.jpg");
}

#welcometxt {
    padding-top: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Lobster', sans-serif;
    font-size: 124px;
    text-shadow: 2px 8px 10px #000;
}

#content{
    padding-top: 10px;
    max-width: 1140px;
}

