@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Rambla);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    background: linear-gradient(to right, #212224 , #3b2312, #212224);
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 80px;
    color: azure;
}

h2{
    font-size: 40px;
    color: azure;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: azure;
}

.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

#header {
    margin-left: 0px;
    margin-right: 0px;
}

#welcome {
    height: 200px;
    background-image: url("/resources/images/welcomeImage.jpg");
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    border-color: #3b3a3c;
}

#welcometxt {
    text-align: left;
    vertical-align: middle;
    font-family: 'Lobster', sans-serif;
    font-size: 80px;
    text-shadow: 2px 8px 10px #000;
    margin-left: 70px;
    max-width: 1100px;
    margin-top: 10px;
}

#content{
    background: #333234;
    border-radius: 20px/80px;
    border-style: outset;
    border-color: #212224;
    padding: 20px;
    max-width: 1100px;
}

#dTag {
    padding-top: 5px;
    border-width: 800px;
    border-top: 2px outset;
    border-bottom: 2px outset;
    border-color: white;
    padding-bottom: 2px;
}

#details {
    margin-bottom:10px;
    border-bottom: 2px inset;
    border-top: 2px inset;
    padding: 25px
}


#rSeperator {
    padding: 0px;
}

#scrollBar {
    overflow: auto;
    width:100%;
    height:300px;
}

#rTag {
    padding-top: 5px;
    border-width: 800px;
    border-top: 2px outset;
    border-bottom: 2px outset;
    border-color: white;
    padding-bottom: 2px;
}


.thumbnail {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    color: #212224;
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    height: 125px;
    max-height: 180px;
    padding-top: 15px;
}


#items {
    width: 1000px;
}

.item{
    float:left;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#lTag {
    padding-top: 5px;
    border-width: 800px;
    border-top: 2px outset;
    border-bottom: 2px outset;
    border-color: white;
    padding-bottom: 2px;
}

#lSeperator {
    padding: 0px;
}


#lscrollBar {
    overflow: auto;
    width:100%;
    height:300px;
}

#litems {
    width: 1000px;
}

