@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Rambla);

body {
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #a6a6a6;
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 80px;
    color: azure;
}

h2{
    font-size: 40px;
    color: azure;
}

p {
    font-family: 'Rambla', sans-serif;
    font-size: 14px;
    color: azure;
}

#header {
    margin-left: 0px;
    margin-right: 0px;
}

#welcome {
    height: 400px;
    background-image: url("/resources/images/welcomeImage.jpg");
    margin-left: 0px;
    margin-right: 0px;
}

#welcometxt {
    padding-top: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Lobster', sans-serif;
    font-size: 124px;
    text-shadow: 2px 8px 10px #000;
}

#content{
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px #888888;
    background: #d9d9d9;
    padding: 20px;
    max-width: 1200px;
}

/* Styles for reports */
#menu {

}

/* Styles for each generated recipe. */
#recipe {
    border: 4px outset;
    padding-left: 10px;
    margin-bottom: 10px;
    background: #f2f2f2;
}

#dcreator {
    border-right: 2px outset;
}

#ddesc {
    border-right: 2px outset;;
}

#dviews {
    border-right: 2px outset;
}

/* Styles for Data */
#rname {
    font-family: 'Rambla', sans-serif;
    font-size: 25px;
    color: black;
    border-bottom: 1px outset;
}

#ring {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 10px;
    color: black;
}

#rcreator {
    font-family: 'Muli', sans-serif;
    font-size: 10px;
    color: black;
}