@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Rambla);

body {
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    background: linear-gradient(to right, #212224 , #3b2312, #212224);
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 80px;
    color: azure;
}

h2{
    font-size: 40px;
    color: azure;
}

p {
    font-family: 'Rambla', sans-serif;
    font-size: 14px;
    color: black;
}

#content{
    border-radius: 10px;
    box-shadow: 8px 8px 10px #3b3a3c;
    background: azure;
    padding: 20px;
    max-width: 1100px;
}